

/********************************************************
			Codezeel Custom Styles
********************************************************/
.cz-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  border-color: blue;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/codezeel/grabbing.png") 8 8, move;
}
 
.customNavigation {
  position: absolute;
  width: 65px;
  top: -60px;
  direction: ltr !important;
  left: auto;
  right: 15px;
  z-index: 8;
}
.customNavigation a {
  font-size: 0;
  position: absolute;
  padding: 0;
  color: #888888;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 30px;
  height: 30px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-color: #f0f0f0;
}
.customNavigation a:hover {
  background-color: #1e3854;
}
.customNavigation a.prev {
  left: 0;
  background-image: url(../img/codezeel/left-angle.svg);
}
.customNavigation a.next {
  right: 0;
  background-image: url(../img/codezeel/right-angle.svg);
}
.customNavigation a.prev:hover {
  background-image: url(../img/codezeel/left-angle-hover.svg);
}
.customNavigation a.next:hover {
  background-image: url(../img/codezeel/right-angle-hover.svg);
}
.nivo-directionNav a {
  width: 50px;
  height: 50px;
}
.flexslider .flex-direction-nav .flex-prev {
  background-image: url(../img/codezeel/slider-left-arrow.svg);
}
.flexslider .flex-direction-nav .flex-next {
  background-image: url(../img/codezeel/slider-right-arrow.svg);
}
.flexslider .flex-direction-nav .flex-prev:hover {
  background-image: url(../img/codezeel/slider-left-arrow-hover.svg);
}
.flexslider .flex-direction-nav .flex-next:hover {
  background-image: url(../img/codezeel/slider-right-arrow-hover.svg);
}

@media (max-width: 1500px) {
  .customNavigation a.prev {
    left: 0px;
  }
  .customNavigation a.next {
    right: 0px;
  }
}
@media (max-width: 991px) {
  .customNavigation {
    top: -55px;
  }
}

#czleftbanner img,
#czrightbanner img{
	max-width: 100%;
}	
#czleftbanner li, #czrightbanner li {
    display: inline-block;
}
#czleftbanner li a, #czrightbanner li a {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
#czleftbanner li a:before, #czrightbanner li a:before {
    background: rgba(255,255,255,.5) none repeat scroll 0 0;
    bottom: 20px;
    content: "";
    left: 20px;
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#czleftbanner li:hover a:before, #czrightbanner li:hover a:before {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.top_button {
  bottom: 20px;
  cursor: pointer;
  height: 40px;
  padding: 0px 12px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 99;
  font-size: 0px;
  border-radius: 50%;
  background: #f5b971;
 -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.top_button:before {
  color: #000000;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 22px;
  line-height: 37px;
  font-weight: 300;
}
.top_button:after {
  border: 2px solid #f5b971;
  border-radius: 50%;
  bottom: -5px;
  height: 50px;
  opacity: 1;
  right: -5px;
  content: "";
  position: absolute;
  width: 50px;
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.top_button:hover:after {
animation: unset;
-webkit-animation:unset;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

/* Icon Bob */
@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

/* Flexslider */

#index .spinner {
  background: url(../img/codezeel/loading.gif) no-repeat center center #fff;
  width: 100%;
  min-height: 620px;
}
@media (max-width: 1459px) {
  #index .spinner {
    min-height: 600px;
  }
}
@media (max-width: 1199px) {
  #index .spinner {
    min-height: 450px;
  }
}
@media (max-width: 991px) {
  #index .spinner {
    min-height: 350px;
    background-size: 35%;
  }
}
@media (max-width: 480px) {
  #index .spinner {
    min-height: 170px;
    background-size: 40%;
  }
}
@media (max-width: 380px) {
  #index .spinner {
    min-height: 150px;
  }
}